
.img-fluid {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 350px;
     transition:all 0.5s ease-in-out;
   
}

.img-container{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}


.overlay{
position: absolute;
 left: 0;
 height: 37%;
 top:0%;
 bottom: 40%;
  width: 100%;
  padding: 12px;
  background-color: black;
  color: #fff;
  font-size: 14px;
  opacity: 0;
 
 
}
.img-container:hover .overlay{
    opacity: 1;
    top:50%;
}
